
            *{
              margin: 0;
            }
            

            .div-centralizada {
              text-align: center;
              margin-top: 20px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              float: right;
              width: 200px;
              padding-inline: 25px;

            }

            .meu-nome {
              font-weight: bold;
              font-size: large;
              margin-bottom: 15px;
            }

            #sobreposicao-imgperfil{ 
              --dimensao: 120px;
              margin: 20px;
              background-color: rgb(231, 231, 231);
              border-radius: 50%;
              padding: 15px;
              width: var(--dimensao);
              height: var(--dimensao);
              }

            #sobreposicao-imgperfil > img {
              display: block;
              width: 100%;
            }
            
            h1 + p{
              text-align: justify;
            }
            address{
              text-align:start;
              width: 100%;
              margin-top: 3px;
            }

            section{
              display: flex;
            }